In [1]:
import pandas as pd
from scipy.stats import mannwhitneyu, shapiro, levene

In [2]:
data1 = {

    'ESCORE': [75.73, 75.98, 53.93, 71.24, 76.47, 81.82, 87.93, 72.75, 79.1, 81.4, 89.93, 40.35, 75.37, 69.3,
               62.27, 68.05, 67.55, 59.35, 67.73, 84.2, 75.52, 90.29, 79.73, 82.89, 58.5, 64.81, 81.15, 73.83,
               59.35, 74.61, 40.35, 40.35, 75.15, 61.28, 52.56, 73.41, 73.92, 84.53, 84.13, 87.24, 83.09, 75.49,
               84.01, 74.95],
    'CAR': [0.8689, 0.4881, 2.534, 8.4463, 2.542, 2.8592, 1.9988, 6.7057, 4.5001, 2.2519, 0.5355, 3.8676, 6.3378,
            4.7802, 2.233, 8.2921, 6.6417, 9.8743, 9.4078, 0.6454, 2.1114, 1.5921, 1.4181, 1.3677, 2.8075, 1.819,
            1.7371, 0.4907, 12.0459, 2.6409, 3.8676, 3.8676, 0.0876, 7.4464, 4.5973, 1.9413, 0.8044, 0.6965, 0.2612,
            0.0069, 0.1712, 0.9568, 0.9479, 3.697],
    'GREEN': [124.3748, 1162.7254, 0, 20.1234, 279.8655, 33.9701, 18.3573, 0, 4.3178, 0, 418.6987, 0, 234.4702, 0,
              0, 0, 0, 0, 0, 0.5886, 0, 158.1681, 0, 130.657, 0, 0, 32.3583, 0, 0, 0, 0, 0, 0, 0, 0, 0, 158.2675,
              2.9462, 6.813, 0, 69.9519, 0, 170.4354, 6.7995],
    'treatment': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
}

In [38]:
df1 = pd.DataFrame(data1)
df1

    ESCORE      CAR      GREEN  treatment
0    75.73   0.8689   124.3748          1
1    75.98   0.4881  1162.7254          1
2    53.93   2.5340     0.0000          1
3    71.24   8.4463    20.1234          1
4    76.47   2.5420   279.8655          1
5    81.82   2.8592    33.9701          1
6    87.93   1.9988    18.3573          1
7    72.75   6.7057     0.0000          1
8    79.10   4.5001     4.3178          1
9    81.40   2.2519     0.0000          1
10   89.93   0.5355   418.6987          1
11   40.35   3.8676     0.0000          1
12   75.37   6.3378   234.4702          1
13   69.30   4.7802     0.0000          1
14   62.27   2.2330     0.0000          1
15   68.05   8.2921     0.0000          1
16   67.55   6.6417     0.0000          1
17   59.35   9.8743     0.0000          0
18   67.73   9.4078     0.0000          0
19   84.20   0.6454     0.5886          0
20   75.52   2.1114     0.0000          0
21   90.29   1.5921   158.1681          0
22   79.73   1.4181     0.0000          0
23   82.89   1.3677   130.6570          0
24   58.50   2.8075     0.0000          0
25   64.81   1.8190     0.0000          0
26   81.15   1.7371    32.3583          0
27   73.83   0.4907     0.0000          0
28   59.35  12.0459     0.0000          0
29   74.61   2.6409     0.0000          0
30   40.35   3.8676     0.0000          0
31   40.35   3.8676     0.0000          0
32   75.15   0.0876     0.0000          0
33   61.28   7.4464     0.0000          0
34   52.56   4.5973     0.0000          0
35   73.41   1.9413     0.0000          0
36   73.92   0.8044   158.2675          0
37   84.53   0.6965     2.9462          0
38   84.13   0.2612     6.8130          0
39   87.24   0.0069     0.0000          0
40   83.09   0.1712    69.9519          0
41   75.49   0.9568     0.0000          0
42   84.01   0.9479   170.4354          0
43   74.95   3.6970     6.7995          0

In [4]:
group1_data = df1[df1['treatment'] == 1]
group0_data = df1[df1['treatment'] == 0]

In [5]:
# 正態性檢驗
normality_escore_group1 = shapiro(group1_data['ESCORE'])
normality_escore_group0 = shapiro(group0_data['ESCORE'])
normality_car_group1 = shapiro(group1_data['CAR'])
normality_car_group0 = shapiro(group0_data['CAR'])
normality_green_group1 = shapiro(group1_data['GREEN'])
normality_green_group0 = shapiro(group0_data['GREEN'])

# 變異數齊性檢驗
variance_test_escore = levene(group1_data['ESCORE'], group0_data['ESCORE'])
variance_test_car = levene(group1_data['CAR'], group0_data['CAR'])
variance_test_green = levene(group1_data['GREEN'], group0_data['GREEN'])


print("正態性檢驗結果 (treatment=1 vs treatment=0):")
print("ESCORE:", normality_escore_group1, normality_escore_group0)
print("CAR:", normality_car_group1, normality_car_group0)
print("GREEN:", normality_green_group1, normality_green_group0)

print("\n變異數齊性檢驗結果:")
print("ESCORE:", variance_test_escore)
print("CAR:", variance_test_car)
print("GREEN:", variance_test_green)

正態性檢驗結果 (treatment=1 vs treatment=0):
ESCORE: ShapiroResult(statistic=0.921761692471191, pvalue=0.1581585857669583) ShapiroResult(statistic=0.9016595473931072, pvalue=0.014601060292641613)
CAR: ShapiroResult(statistic=0.9207825851202962, pvalue=0.1522442760989089) ShapiroResult(statistic=0.777150239990464, pvalue=5.641926355196334e-05)
GREEN: ShapiroResult(statistic=0.5372629040167489, pvalue=2.727966349710136e-06) ShapiroResult(statistic=0.5391063455909548, pvalue=4.304253434813934e-08)

變異數齊性檢驗結果:
ESCORE: LeveneResult(statistic=0.27463259907214344, pvalue=0.602995759811582)
CAR: LeveneResult(statistic=0.0012172482043511328, pvalue=0.9723334762799336)
GREEN: LeveneResult(statistic=3.5414824289258666, pvalue=0.06679370974353892)

In [6]:
mw_test_escore = mannwhitneyu(group1_data['ESCORE'], group0_data['ESCORE'], alternative='greater')
mw_test_car = mannwhitneyu(group1_data['CAR'], group0_data['CAR'], alternative='less')
mw_test_green = mannwhitneyu(group1_data['GREEN'], group0_data['GREEN'], alternative='greater')

mw_test_escore, mw_test_car, mw_test_green

(MannwhitneyuResult(statistic=228.0, pvalue=0.51922765718397),
 MannwhitneyuResult(statistic=303.0, pvalue=0.9627801947693426),
 MannwhitneyuResult(statistic=282.0, pvalue=0.08274309319828044))

In [9]:
data2 = {
    'ESCORE': [65.23, 64.92, 68.91, 49.6, 77.29, 81.87, 66.31, 75.76, 63.54, 64.18, 83.82, 47.76, 53.22, 72.99, 73.21, 83.45, 66.69],
    'CAR': [3.682, 0.7295, 3.1534, 3.8676, 1.958, 0.0807, 0.565, 2.0402, 1.25, 2.1826, 3.4197, 1.2538, 9.8172, 4.536, 1.158, 1.3275, 2.7257],
    'GREEN': [0, 0, 0, 0, 67.1199, 7.929, 0, 202.7572, 142.6322, 0, 15.8851, 0, 0.2773, 1.5065, 0, 3.9919, 26.688],
    'treatment': [1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
}

In [40]:
df2 = pd.DataFrame(data2)
df2

    ESCORE     CAR     GREEN  treatment
0    65.23  3.6820    0.0000          1
1    64.92  0.7295    0.0000          1
2    68.91  3.1534    0.0000          1
3    49.60  3.8676    0.0000          1
4    77.29  1.9580   67.1199          1
5    81.87  0.0807    7.9290          1
6    66.31  0.5650    0.0000          0
7    75.76  2.0402  202.7572          0
8    63.54  1.2500  142.6322          0
9    64.18  2.1826    0.0000          0
10   83.82  3.4197   15.8851          0
11   47.76  1.2538    0.0000          0
12   53.22  9.8172    0.2773          0
13   72.99  4.5360    1.5065          0
14   73.21  1.1580    0.0000          0
15   83.45  1.3275    3.9919          0
16   66.69  2.7257   26.6880          0

In [11]:
group1_data = df2[df2['treatment'] == 1]
group0_data = df2[df2['treatment'] == 0]

In [12]:
# 正態性檢驗
normality_escore_group1 = shapiro(group1_data['ESCORE'])
normality_escore_group0 = shapiro(group0_data['ESCORE'])
normality_car_group1 = shapiro(group1_data['CAR'])
normality_car_group0 = shapiro(group0_data['CAR'])
normality_green_group1 = shapiro(group1_data['GREEN'])
normality_green_group0 = shapiro(group0_data['GREEN'])

# 變異數齊性檢驗
variance_test_escore = levene(group1_data['ESCORE'], group0_data['ESCORE'])
variance_test_car = levene(group1_data['CAR'], group0_data['CAR'])
variance_test_green = levene(group1_data['GREEN'], group0_data['GREEN'])


print("正態性檢驗結果 (treatment=1 vs treatment=0):")
print("ESCORE:", normality_escore_group1, normality_escore_group0)
print("CAR:", normality_car_group1, normality_car_group0)
print("GREEN:", normality_green_group1, normality_green_group0)

print("\n變異數齊性檢驗結果:")
print("ESCORE:", variance_test_escore)
print("CAR:", variance_test_car)
print("GREEN:", variance_test_green)

正態性檢驗結果 (treatment=1 vs treatment=0):
ESCORE: ShapiroResult(statistic=0.9484849339331165, pvalue=0.7279965968582827) ShapiroResult(statistic=0.9519384100355005, pvalue=0.6688022181717105)
CAR: ShapiroResult(statistic=0.9018775198694182, pvalue=0.38514678193428886) ShapiroResult(statistic=0.7309730312357878, pvalue=0.001175333337413585)
GREEN: ShapiroResult(statistic=0.5674816877479767, pvalue=0.0001821614514631109) ShapiroResult(statistic=0.5935814279841432, pvalue=2.1157495621502664e-05)

變異數齊性檢驗結果:
ESCORE: LeveneResult(statistic=0.020671349060601387, pvalue=0.8875916499278994)
CAR: LeveneResult(statistic=0.06429984401317428, pvalue=0.8032672804981963)
GREEN: LeveneResult(statistic=0.60974601033438, pvalue=0.44703252493681134)

In [13]:
mw_test_escore = mannwhitneyu(group1_data['ESCORE'], group0_data['ESCORE'], alternative='greater')
mw_test_car = mannwhitneyu(group1_data['CAR'], group0_data['CAR'], alternative='less')
mw_test_green = mannwhitneyu(group1_data['GREEN'], group0_data['GREEN'], alternative='greater')

mw_test_escore, mw_test_car, mw_test_green

(MannwhitneyuResult(statistic=33.0, pvalue=0.5193923723335487),
 MannwhitneyuResult(statistic=32.0, pvalue=0.48060762766645115),
 MannwhitneyuResult(statistic=24.0, pvalue=0.8432922763684918))

In [16]:
data3 = {

    'ESCORE': [82.52, 78.05, 86.9, 85.92, 81.98, 82.54, 73.22],
    'CAR': [5.1056, 4.2092, 2.6268, 1.7464, 17.6381, 0.1646, 7.7575],
    'GREEN': [969.3758, 6.9819, 1222.0844, 0, 1.3652, 0.3225, 416.4035],
    'treatment': [1, 1, 1, 0, 0, 0, 0]
}

In [17]:
df3 = pd.DataFrame(data3)
df3.head()

   ESCORE      CAR      GREEN  treatment
0   82.52   5.1056   969.3758          1
1   78.05   4.2092     6.9819          1
2   86.90   2.6268  1222.0844          1
3   85.92   1.7464     0.0000          0
4   81.98  17.6381     1.3652          0

In [18]:
group1_data = df3[df3['treatment'] == 1]
group0_data = df3[df3['treatment'] == 0]

In [19]:
# 正態性檢驗
normality_escore_group1 = shapiro(group1_data['ESCORE'])
normality_escore_group0 = shapiro(group0_data['ESCORE'])
normality_car_group1 = shapiro(group1_data['CAR'])
normality_car_group0 = shapiro(group0_data['CAR'])
normality_green_group1 = shapiro(group1_data['GREEN'])
normality_green_group0 = shapiro(group0_data['GREEN'])

# 變異數齊性檢驗
variance_test_escore = levene(group1_data['ESCORE'], group0_data['ESCORE'])
variance_test_car = levene(group1_data['CAR'], group0_data['CAR'])
variance_test_green = levene(group1_data['GREEN'], group0_data['GREEN'])


print("正態性檢驗結果 (treatment=1 vs treatment=0):")
print("ESCORE:", normality_escore_group1, normality_escore_group0)
print("CAR:", normality_car_group1, normality_car_group0)
print("GREEN:", normality_green_group1, normality_green_group0)

print("\n變異數齊性檢驗結果:")
print("ESCORE:", variance_test_escore)
print("CAR:", variance_test_car)
print("GREEN:", variance_test_green)

正態性檢驗結果 (treatment=1 vs treatment=0):
ESCORE: ShapiroResult(statistic=0.999965528335708, pvalue=0.9887866597912978) ShapiroResult(statistic=0.883905488139957, pvalue=0.35558471919295515)
CAR: ShapiroResult(statistic=0.975105935987014, pvalue=0.6974007495656613) ShapiroResult(statistic=0.9004101286568221, pvalue=0.4330991913500356)
GREEN: ShapiroResult(statistic=0.8979027937198021, pvalue=0.37885686249861106) ShapiroResult(statistic=0.6322420778785575, pvalue=0.001361228764353802)

變異數齊性檢驗結果:
ESCORE: LeveneResult(statistic=0.017738723810500057, pvalue=0.8992400163069838)
CAR: LeveneResult(statistic=3.18276522001323, pvalue=0.13449493498107118)
GREEN: LeveneResult(statistic=1.235809968088366, pvalue=0.31685492698660234)

In [20]:
mw_test_escore = mannwhitneyu(group1_data['ESCORE'], group0_data['ESCORE'], alternative='greater')
mw_test_car = mannwhitneyu(group1_data['CAR'], group0_data['CAR'], alternative='less')
mw_test_green = mannwhitneyu(group1_data['GREEN'], group0_data['GREEN'], alternative='greater')

mw_test_escore, mw_test_car, mw_test_green

(MannwhitneyuResult(statistic=7.0, pvalue=0.42857142857142855),
 MannwhitneyuResult(statistic=6.0, pvalue=0.5714285714285714),
 MannwhitneyuResult(statistic=11.0, pvalue=0.05714285714285714))

In [85]:
data4 = {

    'ESCORE': [79.04, 79.55, 82.18, 84.74, 82.24, 78.16, 83.76, 82.34, 78.89, 79.93, 79.16],
    'CAR': [0.165, 0.2478, 0.3282, 0.3352, 0.5084, 0.1721, 0.2602, 0.2154, 0.3517, 0.1794, 0.0695],
    'GREEN': [0, 169.986, 280.9768, 124.0718, 8.4642, 48.6823, 0, 0, 14.2674, 0, 0],
    'treatment': [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
}

In [86]:
df4 = pd.DataFrame(data4)
df4.head()

  COMPANY  ESCORE     CAR     GREEN  treatment
0      仁寶   79.04  0.1650    0.0000          1
1      廣達   79.55  0.2478  169.9860          1
2      緯創   82.18  0.3282  280.9768          1
3      和碩   84.74  0.3352  124.0718          1
4      研華   82.24  0.5084    8.4642          0

In [87]:
group1_data = df4[df4['treatment'] == 1]
group0_data = df4[df4['treatment'] == 0]

In [88]:
# 正態性檢驗
normality_escore_group1 = shapiro(group1_data['ESCORE'])
normality_escore_group0 = shapiro(group0_data['ESCORE'])
normality_car_group1 = shapiro(group1_data['CAR'])
normality_car_group0 = shapiro(group0_data['CAR'])
normality_green_group1 = shapiro(group1_data['GREEN'])
normality_green_group0 = shapiro(group0_data['GREEN'])

# 變異數齊性檢驗
variance_test_escore = levene(group1_data['ESCORE'], group0_data['ESCORE'])
variance_test_car = levene(group1_data['CAR'], group0_data['CAR'])
variance_test_green = levene(group1_data['GREEN'], group0_data['GREEN'])


print("正態性檢驗結果 (treatment=1 vs treatment=0):")
print("ESCORE:", normality_escore_group1, normality_escore_group0)
print("CAR:", normality_car_group1, normality_car_group0)
print("GREEN:", normality_green_group1, normality_green_group0)

print("\n變異數齊性檢驗結果:")
print("ESCORE:", variance_test_escore)
print("CAR:", variance_test_car)
print("GREEN:", variance_test_green)

正態性檢驗結果 (treatment=1 vs treatment=0):
ESCORE: ShapiroResult(statistic=0.9137918949127197, pvalue=0.50272136926651) ShapiroResult(statistic=0.9115608334541321, pvalue=0.4067871868610382)
CAR: ShapiroResult(statistic=0.8870918154716492, pvalue=0.36980995535850525) ShapiroResult(statistic=0.943362832069397, pvalue=0.6691708564758301)
GREEN: ShapiroResult(statistic=0.9932645559310913, pvalue=0.9735439419746399) ShapiroResult(statistic=0.6706507205963135, pvalue=0.0017576598329469562)

變異數齊性檢驗結果:
ESCORE: LeveneResult(statistic=0.19921440052312292, pvalue=0.6659010977149031)
CAR: LeveneResult(statistic=0.4822163809683416, pvalue=0.5049491839823667)
GREEN: LeveneResult(statistic=7.409380429690809, pvalue=0.02352996758958303)

In [89]:
mw_test_escore = mannwhitneyu(group1_data['ESCORE'], group0_data['ESCORE'], alternative='greater')
mw_test_car = mannwhitneyu(group1_data['CAR'], group0_data['CAR'], alternative='less')
mw_test_green = mannwhitneyu(group1_data['GREEN'], group0_data['GREEN'], alternative='greater')

mw_test_escore, mw_test_car, mw_test_green

(MannwhitneyuResult(statistic=16.0, pvalue=0.3939393939393939),
 MannwhitneyuResult(statistic=15.0, pvalue=0.6060606060606061),
 MannwhitneyuResult(statistic=23.0, pvalue=0.046018112805020835))

In [90]:
mw_test_escore = mannwhitneyu(group1_data['ESCORE'], group0_data['ESCORE'], alternative='greater')
mw_test_car = mannwhitneyu(group1_data['CAR'], group0_data['CAR'], alternative='less')
mw_test_green = mannwhitneyu(group1_data['GREEN'], group0_data['GREEN'], alternative='greater')


print("Mann-Whitney U 檢定結果：")
print("ESCORE:", mw_test_escore)
print("CAR:", mw_test_car)
print("GREEN:", mw_test_green)

Mann-Whitney U 檢定結果：
ESCORE: MannwhitneyuResult(statistic=16.0, pvalue=0.3939393939393939)
CAR: MannwhitneyuResult(statistic=15.0, pvalue=0.6060606060606061)
GREEN: MannwhitneyuResult(statistic=23.0, pvalue=0.046018112805020835)